 <div class="container container-section">
        <div class="container-login">

            <nav class="nav-JS">
                <ul>
                    <li><a id="profil" href="#">Profil</a></li>
                    <li><a id="commandes" href="#">Commandes</a></li>
                    <li><a id="favories" href="#">Favories</a></li>
                    <li><a id="profeuil" href="#">Porte-Feuille</a></li>
                </ul>
            </nav>

            <section id="secLog" class="login">
                <div class="content">
                    <div class="blockColor"></div>
                    <div class="contentBx justify">
                        <h3>Connexion</h3>
                        <p>Nom : {% lastName %}</p>
                        <p>Prénom : {% firstName %}</p>
                        <p>Email : {% email %}</p>
                        <a href="#">Modifier mot de Passe</a>
                    </div>
                </div>
            </section>

            <section id="secProfil" class="infoProduct">
                <div class="content">
                    <div class="contentBx">
                        <h3>Vos commandes</h3>
                        <table>
                            <tr class="bold">
                                <td>ID :</td>
                                <td>Nombre :</td>
                                <td>Produit :</td>
                                <td>Prix :</td>
                                <td>Date :</td>
                            </tr>
                            <tr>
                                <td>4523</td>
                                <td>1</td>
                                <td>Baguette</td>
                                <td>10€</td>
                                <td>07/12/2021</td>
                            </tr>
                            <tr>
                                <td>7854</td>
                                <td>2</td>
                                <td>Croissant</td>
                                <td>12€</td>
                                <td>07/12/2021</td>
                            </tr>
                            <tr>
                                <td>159</td>
                                <td>2</td>
                                <td>Paint aux Amandes</td>
                                <td>4.99€</td>
                                <td>10/12/2021</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>

            
            <section id="secFav" class="box-product favories">
                <div class="content">
                    <div class="contentBx">
                        <div class="titre">
                            <h2>Mes produits favories</h2>
                        </div>
                        <article>
                            <div class="content-overlay">
                                <img src=".public/assets/img/pexels-polina-tankilevitch-4828368.jpg" alt="">
                                <div class="overlay"></div>
                                <div class="middle">
                                    <div class="text">Ajouter au panier</div>
                                </div>
                            </div>
                        </article>

                        <article>
                            <div class="content-overlay">
                                <img src=".public/assets/img/pexels-polina-tankilevitch-4828433.jpg" alt="">  
                                <div class="overlay"></div>
                                <div class="middle">
                                    <div class="text">Ajouter au panier</div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            

            <section id="secPort" class="portfeuil">
                <div class="content">
                    <div class="contentBx">
                        <h3>Mon porte-feuille :</h3>
                        <p>Solde : 10€</p>
                        <button>Recharger mon solde</button>
                    </div>
                </div>
            </section>
        </div>
    </div>