 <div class="container container-section">
        <div class="container-login">
            <header>
                <a href="./index.html" class="logo">Boulangerie</a>
                <div class="toggle">
                    <ul>
                        <li><a href="./">Accueil</a></li>
                        <li><a href="#">Profil</a></li>
                        <li><a href="#"><i class="fas fa-shopping-basket"></i>Mon panier</a></li>
                    </ul>
                </div>
            </header>

            <nav class="nav-JS">
                <ul>
                    <li><a id="profil" href="#">Profil</a></li>
                    <li><a id="commandes" href="#">Commandes</a></li>
                    <li><a id="favories" href="#">Favories</a></li>
                    <li><a id="profeuil" href="#">Porte-Feuille</a></li>
                </ul>
            </nav>

            <section id="secLog" class="login">
                <div class="content">
                    <div class="blockColor"></div>
                    <div class="contentBx justify">
                        <h3>Connexion</h3>
                        <p>Nom : {% username %}'</p>
                        <p>Prénom : Joe</p>
                        <p>Date de naissance : 17/02/1990</p>
                        <p>Téléphone : 01.23.45.67.89</p>
                        <p>Email : jeo@mail.com</p>
                        <p>Adresse : 7 Rue Gringant Limon</p>
                        <a href="#">Modifier mot de Passe</a>
                    </div>
                </div>
            </section>

            <section id="secProfil" class="infoProduct">
                <div class="content">
                    <div class="contentBx">
                        <h3>Vos commandes</h3>
                        <table>
                            <tr class="bold">
                                <td>ID :</td>
                                <td>Nombre :</td>
                                <td>Produit :</td>
                                <td>Prix :</td>
                                <td>Date :</td>
                            </tr>
                            <tr>
                                <td>4523</td>
                                <td>1</td>
                                <td>Baguette</td>
                                <td>10€</td>
                                <td>07/12/2021</td>
                            </tr>
                            <tr>
                                <td>7854</td>
                                <td>2</td>
                                <td>Croissant</td>
                                <td>12€</td>
                                <td>07/12/2021</td>
                            </tr>
                            <tr>
                                <td>159</td>
                                <td>2</td>
                                <td>Paint aux Amandes</td>
                                <td>4.99€</td>
                                <td>10/12/2021</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>

            
            <section id="secFav" class="box-product favories">
                <div class="content">
                    <div class="contentBx">
                        <div class="titre">
                            <h2>Mes produits favories</h2>
                        </div>
                        <article>
                            <div class="content-overlay">
                                <img src=".public/assets/img/pexels-polina-tankilevitch-4828368.jpg" alt="">
                                <div class="overlay"></div>
                                <div class="middle">
                                    <div class="text">Ajouter au panier</div>
                                </div>
                            </div>
                        </article>

                        <article>
                            <div class="content-overlay">
                                <img src=".public/assets/img/pexels-polina-tankilevitch-4828433.jpg" alt="">  
                                <div class="overlay"></div>
                                <div class="middle">
                                    <div class="text">Ajouter au panier</div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            

            <section id="secPort" class="portfeuil">
                <div class="content">
                    <div class="contentBx">
                        <h3>Mon porte-feuille :</h3>
                        <p>Solde : 10€</p>
                        <button>Recharger mon solde</button>
                    </div>
                </div>
            </section>

            <footer class="position-footer">
                <div class="block">
                    <h3>Heure d'ouverture</h3>
                    <p>
                    Lundi: Fermé <br>
                    Mardi-Mercredi : 9h - 18h<br>
                    Jeudi-Vendredi : 9h - 18h<br>
                    Samedi-Dimanche : 9h - 12h
                    </p>
                </div>

                <div class="block">
                    <h3>Contact</h3>
                    <div class="adress">
                        <p>
                        13 Bd Galopin Renoue<br>
                        Maine-et-Loire,<br>
                        49000 Angers<br>
                        01.02.03.45.47
                        </p>
                    </div>
                </div>

                <div class="block">
                    <h3>Social networks</h3>
                    <div class="social-network">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>
                    </div>
                </div>
            </footer>
        </div>
    </div>