<div class="container">
    <section class="banner">
        <div class="textBx">
            <h2>Découvrer la boulangerie</h2>
            <h3>"nos régions ont du talents"</h3>
            <a href="#" class="btn">Commander</a>
        </div>
    </section>

    <section class="about">
        <div class="titre">
            <h2>Une boulangerie élue meilleur Pain 2022 !</h2>
            <span></span>
        </div>
        <div class="content">
            <div class="contentBx">
                <h3>Une boulangerie fière de ses traditions</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aliquam quibusdam optio distinctio, deleniti modi!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab minima dolor voluptate voluptatum, similique cumque. 
                    Labore quas dignissimos, aperiam exercitationem distinctio dolore nemo recusandae delectus ipsam perferendis est ipsum rem!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aliquam quibusdam optio distinctio, deleniti modi!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab minima dolor voluptate voluptatum, similique cumque. 
                    Labore quas dignissimos, aperiam exercitationem distinctio dolore nemo recusandae delectus ipsam perferendis est ipsum rem!
                </p>
            </div>
            <div>
                <img src="./public/assets/img/pexels-maria-orlova-4916562.jpg" class="img" alt="Femme qui tient des fleurs sur le côté">
            </div>
        </div>
    </section>

    <div class="products">
        <section class="box-product">
            <div class="titre">
                <h2>Nos produits phares : tradition</h2>
            </div>
            <article>
                <div class="content-overlay">
                    <img src="./public/assets/img/pexels-polina-tankilevitch-4828368.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="middle">
                        <div class="text">Ajouter au panier</div>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, consequatur!
                </p>
            </article>

            <article>
                <div class="content-overlay">
                    <img src="./public/assets/img/pexels-polina-tankilevitch-4828433.jpg" alt="">  
                    <div class="overlay"></div>
                    <div class="middle">
                        <div class="text">Ajouter au panier</div>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, consequatur!
                </p>
            </article>

            <article>
                <div class="content-overlay">
                    <img src="./public/assets/img/pexels-polina-tankilevitch-4828279.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="middle">
                        <div class="text">Ajouter au panier</div>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, consequatur!
                </p>
            </article>
            <article>
                <div class="content-overlay">
                    <img src="./public/assets/img/pexels-polina-tankilevitch-4828358.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="middle">
                        <div class="text">Ajouter au panier</div>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, consequatur!
                </p>
            </article>
        </section>
    </div>

    <div class="products">
        <section class="box-product">
            <div class="titre">
                <h2>Sélection nos produits évènementiel</h2>
            </div>
            <article>
                <img src="./public/assets/img/pexels-jill-wellington-3969254.jpg" alt="">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, consequatur!
                </p>
            </article>
            <article>
                <img src="./public/assets/img/pexels-roman-odintsov-5897462.jpg" alt="">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, consequatur!
                </p>
            </article>
            <article>
                <img src="./public/assets/img/pexels-lina-kivaka-5732158.jpg" alt="">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, consequatur!
                </p>
            </article>
            <a href="#" class="btn">En savoir plus</a>
        </section>
    </div>

    <div class="awards">
        <section class="box-awards">
            <div class="titre">
                <h2>Nos récompenses</h2>
                <span></span>
            </div>
            <article>
                <img src="./public/assets/img/pexels-choclatine.jpg" alt="">
                <div class="column">
                    <p>
                        Libre a votre créativité de réaliser cette section. Elle a pour but de présenter 
                        le titre du meilleur pain au chocolat/ ou chocolatine (on ne va pas se fâcher).
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo magni mollitia nobis 
                        nostrum nesciunt sunt enim, iste minima, natus culpa porro asperiores est accusamus 
                        doloremque nisi. Architecto enim aspernatur quam maiores, minima explicabo nihil veniam. 
                        Maiores sunt hic dolore in voluptatem, mollitia quibusdam delectus tempore quasi non 
                        nisi asperiores quis neque optio, est quam atque dolorem quas, assumenda nemo sed repudiandae. 
                        Corrupti velit reiciendis aliquid sequi quisquam facere perferendis quis ducimus? Doloribus 
                        eum quia sapiente illo qui nam, id impedit hic nisi beatae dolor praesentium quos explicabo. 
                        Nobis incidunt porro ipsum aliquid, nihil laudantium voluptates vero, animi voluptatibus, 
                        accusamus iusto!
                    </p>                        
                </div>
            </article>
        </section>
    </div>
</div>
