    <div class="container">
        <div class="container-login blur">

            <section class="login">
                <div class="content">
                    <div class="blockColor"></div>
                    <div class="contentBx">
                        <h3>Connexion</h3>
                        <span style="color: red;">{% messageError %}</span>
                        <form action="./index.php?url=securityRegister" method="POST">
                            <fieldset>
                                <div class="field">
                                    <label for="lastName">Nom</label> <br>
                                    <input type="text" id="lastName" name="lastName" value="{% lastName %}" required>
                                </div>
                                <div class="field">
                                    <label for="firstName">Prénom</label> <br>
                                    <input type="text" id="firstName" name="firstName" value="{% firstName %}" required>
                                </div>
                                <div class="field">
                                    <label for="email">Email</label> <br>
                                    <input type="email" id="email" name="email" value="{% email %}" required>
                                </div>

                                <div class="field">
                                    <label for="password">Mot de Passe</label> <br>
                                    <input type="password" id="password" name="password" value="" required>
                                    <input type="hidden" name="csrf_token" value="{% csrf %}">
                                </div>
                                <a href="#">Mot de passe oublié?</a><br>
                                <button>Connexion</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </section>

            <footer>
                <div class="block">
                    <h3>Heure d'ouverture</h3>
                    <p>
                    Lundi: Fermé <br>
                    Mardi-Mercredi : 9h - 18h<br>
                    Jeudi-Vendredi : 9h - 18h<br>
                    Samedi-Dimanche : 9h - 12h
                    </p>
                </div>

                <div class="block">
                    <h3>Contact</h3>
                    <div class="adress">
                        <p>
                        13 Bd Galopin Renoue<br>
                        Maine-et-Loire,<br>
                        49000 Angers<br>
                        01.02.03.45.47
                        </p>
                    </div>
                </div>

                <div class="block">
                    <h3>Social networks</h3>
                    <div class="social-network">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>
                    </div>
                </div>
            </footer>
        </div>
    </div>