<div class="container">
        <section class="shop">
            <div class="gallery">
                <div class="titre">
                    <h2>Découvrez nos produits :</h2>
                    <div class="search">
                        <form action="#">
                            <input type="text" placeholder="Recherche" name="search">
                            <button>
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
                {% article %}
            </div>
        </section>
    </div>