<header>
            <a href="./index.php" class="logo">Ma Boulangerie</a>
            <div class="block-search">
                <input type="text" name="q-search" id="search"/>
            
                <ul id="list-search">
                </ul>
            </div>
            
            <div class="toggle">
                <ul>
                    <li><a href="./index.php">Accueil</a></li>
                    <li><a href="./index.php?url=account">Profil</a></li>
                    <li><a href="./index.php?url=cart"><i class="fas fa-shopping-basket"></i>Mon panier</a></li>
                </ul>
            </div>
        </header>